@import "jit-refresh.css"; /* triggers frontend rebuilds */


  @media (prefers-color-scheme: dark) {
    :root {
      --shiki-color-text: theme('colors.white');
      --shiki-token-constant: theme('colors.emerald.300');
      --shiki-token-string: theme('colors.emerald.300');
      --shiki-token-comment: theme('colors.zinc.500');
      --shiki-token-keyword: theme('colors.sky.300');
      --shiki-token-parameter: theme('colors.pink.300');
      --shiki-token-function: theme('colors.violet.300');
      --shiki-token-string-expression: theme('colors.emerald.300');
      --shiki-token-punctuation: theme('colors.zinc.200');

    }

    @media (prefers-color-scheme: light) {
      body {
        background: #ffffff; /* Change background color to light */
        color: #000000; /* Change text color to black */
      }
    
      input,
      textarea {
        background: #ffffff; /* Change background color to light */
        color: #000000; /* Change text color to black */
        border: 1px solid black; /* Change border color to black */
      }
    
      :root {
        --docsearch-text-color: rgb(0, 0, 0); /* Change text color */
        --docsearch-container-background: rgba(255, 255, 255, 0.8); /* Change container background color */
        --docsearch-modal-background: rgb(255, 255, 255); /* Change modal background color */
        --docsearch-modal-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.2); /* Change modal shadow */
        --docsearch-searchbox-background: rgb(255, 255, 255); /* Change searchbox background color */
        --docsearch-searchbox-focus-background: #ffffff; /* Change searchbox focus background color */
        --docsearch-hit-color: rgb(0, 0, 0); /* Change hit color */
        --docsearch-hit-shadow: none; /* Remove hit shadow */
        --docsearch-hit-background: rgb(255, 255, 255); /* Change hit background color */
        --docsearch-key-gradient: linear-gradient(-26.5deg, rgb(86, 88, 114) 0%, rgb(49, 53, 91) 100%); /* Change key gradient */
        --docsearch-key-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1); /* Change key shadow */
        --docsearch-key-pressed-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1); /* Change pressed key shadow */
        --docsearch-footer-background: rgb(255, 255, 255); /* Change footer background color */
        --docsearch-footer-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 -4px 8px 0 rgba(0, 0, 0, 0.1); /* Change footer shadow */
        --docsearch-logo-color: rgb(0, 0, 0); /* Change logo color */
        --docsearch-muted-color: rgb(127, 132, 151); /* Change muted color */
      }
    }
    
  
  
  /* If you need to add @import statements, do so up here */
  
    

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;

button.DocSearch.DocSearch-Button {
  @apply h-8 w-full items-center gap-2 rounded-full bg-white pl-2 pr-3 text-sm text-zinc-500 ring-1 ring-zinc-900/10;
  @apply transition hover:ring-zinc-900/20 lg:flex dark:bg-white/5 dark:text-zinc-400 dark:ring-inset dark:ring-white/10 dark:hover:ring-white/20;

}

#oba-docs-search-container--mobile button.DocSearch-Button {
  margin: 0;
}

.DocSearch-Search-Icon {
  @apply !h-5 !w-5 !text-zinc-400 dark:text-zinc-500;
}

.DocSearch-Button-Placeholder {
  @apply !text-sm !text-zinc-400 dark:text-zinc-500;
}

.DocSearch-Button-Keys {
  @apply ml-auto text-2xs text-zinc-400 dark:text-zinc-500 inline-block text-right;
}

.DocSearch-Button-Key {
  background: none;
  box-shadow: none;
  @apply font-sans m-0 p-0 w-auto inline-block;
}

pre.highlight {
  background-color: transparent!important;
  padding: 0!important;
}

@tailwind utilities;


